.linkcolor {
  color: #2650FF;
  font-size: 12px;
}
.titleFont {
  font-size: 20px;
  font-weight: 700;
  color: #1D1C35;
}
.secondTitle {
  color: #727491;
  font-size: 12px;
  font-weight: 400;
}
.company {
  color: #1D1C35;
  font-size: 12px;
}
.time {
  color: #727491;
  font-size: 12px;
}
.he-button {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid #264FFB;
  color: #2650FF;
}