@font-face {
  font-family: "iconfont"; /* Project id 2809959 */
  src: url('iconfont.woff2?t=1631529536467') format('woff2'),
       url('iconfont.woff?t=1631529536467') format('woff'),
       url('iconfont.ttf?t=1631529536467') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenhao:before {
  content: "\e68c";
}

.icon-wenjian:before {
  content: "\e637";
}

.icon-wenjian1:before {
  content: "\e748";
}

.icon-detail:before {
  content: "\e60e";
}

.icon-pinglun:before {
  content: "\e628";
}

.icon-xiuding:before {
  content: "\e664";
}

