@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1631079337458') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-anquanbaozhang-xianxing:before {
  content: "\e88c";
}

.icon-youjian:before {
  content: "\e6ce";
}

.icon-shouji:before {
  content: "\e8b9";
}

