<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinosdx.service.management.dao.mapper.ProductMapper">

    <select id="queryProductList" resultType="java.util.Map">
        select name as label, code as value from product
    </select>

</mapper>