<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinosdx.service.log.dao.mapper.GatewayLogMapper">

    <resultMap id="logList" type="com.sinosdx.service.log.dao.entity.GatewayLog"/>
    <resultMap id="logCount" type="Integer">
        <result column="total"/>
    </resultMap>

    <select id="queryGatewayLogList" resultMap="logList,logCount">
        select SQL_CALC_FOUND_ROWS * from gateway_log
        where
              1 = 1
        <if test="appCode != null and appCode != '' ">
            and app_code = #{appCode}
        </if>
        <if test="domain != null and domain != '' ">
            and domain like concat('%', #{domain}, '%')
        </if>
        <if test="httpMethod != null and httpMethod != '' ">
            and http_method = #{httpMethod}
        </if>
        <if test="requestPath != null and requestPath != '' ">
            and request_path like concat('%', #{requestPath}, '%')
        </if>
        <if test="startTime != null and endTime != null">
            and event_time BETWEEN #{startTime} and #{endTime}
        </if>
        order by event_time desc
        <if test="limit != null and offset != null">
            LIMIT ${(offset -1)*limit},#{limit}
        </if>;
        <!-- 查询数据量 -->
        SELECT FOUND_ROWS() AS total;
    </select>

</mapper>